---
title: Home of SysFera Open Source technologies
---
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/style_navigation.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>SysFera</h1>
        <p>SaaS made easy. At last.</p>
      </header>

	<div id="banner">
		<span id="logo"></span><a href="/index.html"
			class="button"><strong>Home</strong></a> <a href="https://github.com/SysFera"
			class="button fork"><strong>View On GitHub</strong></a>
	</div>
	<!-- end banner -->
	<nav>
	<h2>SysFera projects</h2>
	<ul class="projectList">

		<li><a href="/libdadi.html" class="pages">libdadi</a>
			<ul class="projectPagesList">
				<li><a href="/libdadi/authors.html">Authors</a></li>
				<li><a href="/libdadi/history.html">History</a></li>
				<li><a href="/libdadi/license.html">License</a></li>
				<li><a href="/libdadi/download.html">Downloads</a></li>
				<li><a href="/libdadi/documentation.html">Documentation</a></li>
				<li><a href="/libdadi/install.html">Install</a></li>
				<li><a href="/libdadi/issueTracking.html">Issue Tracking</a></li>
			</ul></li>
		<li><a href="/vishnu.html" class="pages">vishnu</a>
			<ul class="projectPagesList">
				<li><a href="/vishnu/authors.html">Authors</a></li>
				<li><a href="/vishnu/history.html">History</a></li>
				<li><a href="/vishnu/license.html">License</a></li>
				<li><a href="/vishnu/download.html">Downloads</a></li>
				<li><a href="/vishnu/documentation.html">Documentation</a></li>
				<li><a href="/vishnu/installLaunch.html">Install</a></li>
				<li><a href="/vishnu/issueTracking.html">Issue Tracking</a></li>
			</ul></li>
	</ul>
	</nav>
	<div class="wrapper">

		{{content}}
		<footer>
		<p>
			<small>Hosted on GitHub Pages &mdash; Theme by <a
				href="http://twitter.com/#!/michigangraham">mattgraham</a></small>
		</p>
		</footer>
	</div>
	<!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>